.container {
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
    
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.main-section{
    min-height: 650px;
    position: relative;
    background-color: #F9F7FE;
}
.nav-menu li{
    list-style-type: none;
    display: inline-flex;
    margin-right: 50px;
    
    
}
.nav-menu a {
    color: black;
    text-decoration: none;
}
.nav-menu{
    display: flex;
    justify-content: flex-end;
}
.main-container{
    text-align: center;
    padding-top: 100px;
}
.main-button{
    
        width: 200px;
        height: 63px;
        background: #6C63FF;
        border-radius: 4px;
        color: white;
        border: none;
}
.main-container h2{
    font-size: 36px;
    line-height: 54px;
}
.header h1{
    font-size: 64px;
    line-height: 85px;
}
.main-container p{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
}
.small-button{
    width: 150px;
    height:50px;
    border: 1px solid #6C63FF;
    border-radius: 4px;
    color:#6C63FF;
}
.second-container .row{
    margin-bottom: 50px;
}
.row .text-col{
    padding-left: 23px;
}
.footer{
    background-color: #F9F7FE;
    min-height: 200px;
}
.icons-footer{
    display: inline-flex;
    align-items: center;
}
.icons-item i{
    width: 60px;
    height: 60px;
    color: #5850f1;
    font-size: 30px;

}
.icons-first{
    margin-bottom: 20px;
}
.icons-first img{
    margin-right: 20px;

}

.icons-second {
    margin-bottom: 30px;
}
.icons-second img{
    margin-right: 20px;
}
.about-container li{
  list-style-type: none;
  font-size: 18px;
}
.about-container img{
    margin-bottom: 20px;
}

